* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --l: 300;
  --s: 200;
}
body {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube {
  position: relative;
  width: calc(1px * var(--l));
  height: calc(1px * var(--l));
  transform-style: preserve-3d;
  transform: rotateX(-25deg);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-25deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-25deg) rotateY(360deg);
  }
}

.top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141414;
  transform: rotateX(90deg) translateZ(calc(0.5px * var(--l)));
  transform-style: preserve-3d;
}
.top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(231, 2, 227);
  filter: blur(30px);
  box-shadow: 0 0 200px rgb(255, 0, 247);
  transform: translateZ(-360px);
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;

  color: white;
  text-align: center;
}
span h1:nth-child(1) {
  position: absolute;
  font-size: 7rem;
  text-align: center;
  width: 100%;
  margin-top: 30%;
  transform: translateZ(30px);
}
span h1:nth-child(2) {
  position: absolute;
  font-size: 7rem;
  text-align: center;
  color: rgb(61, 59, 59);
  width: 100%;
  margin-top: 30%;
}
.box span {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#141414, rgb(238, 0, 255));
  transform: rotateY(calc(90deg * var(--i))) translateZ(calc(0.5px * var(--l)));
}
@media only screen and (max-width: 600px) {
  .cube {
    width: calc(1px * var(--s));
    height: calc(1px * var(--s));
  }
  .box span {
    transform: rotateY(calc(90deg * var(--i)))
      translateZ(calc(0.5px * var(--s)));
  }
  .top {
    transform: rotateX(90deg) translateZ(calc(0.5px * var(--s)));
  }
  h1 {
    font-size: 5rem !important;
  }
  .top::after {
    transform: translateZ(-260px);
  }
}
/* adfadsf */
